# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [ ]:
numberFloat = 2.3
 
print (numberFloat)
numberFloat = 7.2
 
print (numberFloat)

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 2
num2 = 5.4

result = num1 + num2
print (result)

result += 2

print(result)

##### Subtraction

In [ ]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1

print(result_diff-1)

##### Multiplication

In [ ]:
result_mul = num1* num2
print(result_mul)

result_mul *= 2
print(result_mul)

##### Division

In [ ]:
result_div = num2/num1
print(result_div)

result_div/= 3
print(result_div)

##### Floor Division

In [ ]:
result_floor = num2 // num1
print (result_floor)

result_floor //= 2
print (result_floor)

##### Modulo

In [ ]:
result_mod= num2 % num1
print (result_mod)
result_mod %=2
print (result_mod)

##### Exponential

In [ ]:
square = 5 ** 2
print(square)

square **=2
print(square)

### String Input-Output

##### String Assignment

In [ ]:
name = "Eric"
print (name)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("This is my first name:", name)
print("Full name:", name, end=" Smith")

##### String Concatenation

In [ ]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print (full_name)

full_name += ", Jr"
print(full_name)

##### Type Conversion

In [ ]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

##### input()

In [ ]:
#input will always return a string


name= input("What is your name?")
print("Nice to meet you, " + name)

##### format()

In [ ]:
age= input("What is your age? ")

result_string= "You are getting wiser.".fromat(age, name)
print(result_string)

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
make= input("What is the make of your car?  ")
model= input('What model is your car? ')
year= input("What year is your car? ")
color= input('What color is your car? ')

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

# if num1 == num2:
#     print('This is True')
# else:
#     print('Fasle')

if num2 > num1:
    print('num2 is greater')
elif num1 > num2:
    print('num1 is greater')
else:
    print('equal values')

##### 'is' keyword

In [ ]:
# The 'is' keyword is for checking for the same object but not the same value

num3 = 55

if num3 is 55:
    print('this is it')

##### 'in' keyword

In [ ]:
# Check if a character is in a string

char_name = 'Frodo'

if 'Frodo' in char_name:
    print('The ring bearer')

##### 'not in' keyword'

In [ ]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('a is Not here...')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
name= input('What is your name? ')

if 'p' in name:
    print('What up p!')

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 =10
num_14 = 3

#if with'and' statement
if num_11 / 5 == num_12 and num_13- 7 == num_14:
    print("True and True")
    
#if with 'or' statement
if num_13 == num_14 or num_11 > num_12:
    print('False and True')

### Elif Statements

In [ ]:
first_name = input('What is your name?')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == 'Brandon':
    print('The name is Brandon')
else:
    print('The name is Max')

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
#syntax
# For counter in condition

name = 'Brandon Apol'

for letter in name:
    print(letter)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
name = 'Brandon Apol'

for i in name:
    if i == 'a':
        continue
        
    print(i)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
name = 'Brandon Apol'

for i in name:
    if i == 'a':
        break
        
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = 'Brandon Apol'

for i in name:
    if i == 'a':
        pass

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range (5):
        print('i = ', i, 'j= ', j)

### While Loops

In [ ]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [ ]:
game_over = True

while True:
    print('Infinite Loop')
    user_input = input('Would you like to stop?')
    if user_input == "Yes":
        game_over = False

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print('\nWhile loop iteration:' + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

### Built-In Functions

##### range()

In [ ]:
# range(Start, Stop, Step)

for i in range(2, 20, 2):
    print(i)

##### len()

In [ ]:
name = input("Give me the name of your favorite book:")

length = len(name)
print(length)

##### help()

In [ ]:
# Use this function to view more info about a python function
help(len)

##### isinstance()

In [ ]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

num = 4

if isinstance((num), int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

##### abs()

In [ ]:
# |-5| = 5

print(abs(-5))

### Try and Except

In [ ]:
# Use this to log out graceful and useful error messages
# Does not stop the program! Neato!

try: 
    number_test = 0
    input_num= int(input('Guess a number'))
    print('Your number is: ' + str(input_num))
except:
    print(" That didn't work: Change your input number!")

### Lists

##### Declaring Lists

In [ ]:
list_1 = []

names = ['Max','Cindy','Kathy','bob','Nate']
print(names)

##### Indexing a List

In [ ]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and present in reverse order
print(names[::-1])

##### .append()

In [ ]:
names.append('Brandon')
print(names)

##### .insert()

In [ ]:
names.insert(3,'Devon')
print(names)

##### .pop()

In [ ]:
# Defaults to the last value if no perameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)


##### .remove()

In [ ]:
# Value to be removed rathr than index
#names.remove('bob')
#print(names)

#remove multiple from list

while 'Brandon' in names:
    names.remove('Brandon')
print(names)

##### del()

In [ ]:
# Goes by index, rather than value
# Be careful with del, it can caus eindexing errors if not used carefully

del(names[1])
print(names)

##### Concatenating Two Lists

In [ ]:
# This will append two lists together, will NOT add the values!!

list_2= [0, 1, 2]
list_3= [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

##### Lists Within Lists

In [ ]:
# List can hold ANY type of other element: Including other lists
# They can go as deep as you want; this is called nested lists

names = ['Max', 'sam', 'Josh', ['Sally','Sue','Tameka']]
print(names)
print(names[3][1])

##### Looping Through Lists

In [ ]:
# Two ways to loop through list! One is by index; the other is by using the 'in' keyword

#By index

for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'

for i in names:
    print(i)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for i in range(1,1000):
    if i**3 <=1000:
        print(i**3)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [5]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

low=0
high=100

for i in range(low, high +1):
    if i > 1:
        for x in range (2, i):
            if(i%x)== 0:
             break
            else:
            
             print(i)

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [2]:
age = int(input('What is your age?'))
if age <= 17:
    print("kid")
elif age in range (18,65):
    print("adult")
else:
    print("senior")

What is your age?36
adult